.sidebar-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sidebar-buttons .ant-btn {
  width: 150px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin-bottom: 10px;
  /* Remove margin from the last button */
  &:last-child {
    margin-bottom: 0;
  }
}

sidebar-buttons {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center buttons horizontally */
  justify-content: center; /* Center buttons vertically in the sidebar */
  padding: 10px; /* Add padding inside the buttons container */
  margin-top: 15px; /* Adjust the top margin to move buttons down */
}

.Sider .logo {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.Sider .logo img {
  width: 100px; /* Adjust the size as needed */
  height: auto;
}


/* Add more styles as needed */
